*.class
*.log
*.class
**/.DS_Store
.DS_Store
.metals/
.bloop/
.scala-build/
.bsp/
.vscode/
.sbt
.history
.cache-main
.scala_dependencies
publish.sbt
target/
generated/
project/project/
project/target/
CLAUDE.md
TODO.md
**/src/test/